<div class="row topics-index">
  
  <div class="col-xs-12 col-md-8 vertical-bottom">
    <div class="col-xs-8">
      <h2>Topics</h2>
    </div>

    <% if user_is_authorized_for_topics? %>
      <div class="col-xs-4 new-topic-button">
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success pull-right' %>
      </div>
    <% end %>
  </div>


  <div class="col-xs-12 col-md-8">
    <%= render @topics %>
  </div>


</div>