
<div class="row row1">
	<div class="col-xs-4 col-xs-offset-4">
		<%= link_to "GitHub", "https://github.com/baka-san", class: "social-btn btn btn-primary vertical-align", target: "_blank" %>
<!-- <a href="#" class="social-btn btn btn-primary vertical-align" role="button"><span>GitHub</span></a> -->


	</div>
</div>

