<div class="row welcome-index">
 
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Not Reddit</h1>
      <p>Not Reddit is a place where you can share links and discuss rad topics with neckbeards. </p>
      <p>(No relation to Reddit)</p>
      <p>
        <%= link_to "Sign Up", new_user_path %> or
        <%= link_to "Sign In", new_session_path %>
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Not Reddit delivers food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Not Reddit delivers money and education to those in need. 100% of all earnings from this free site go to charity.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Using Not Reddit will make you ridiculously good looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira. Or ... if you're into Asians.</p>
  </div>

</div>