<div class="row welcome-index">
 
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Not Reddit</h1>
      <p>Not Reddit is a place where you can share links and discuss rad topics with neckbeards. </p>
      <p>(No relation to Reddit)</p>
      <p>
        <%= link_to "Sign Up", new_user_path %> or
        <%= link_to "Sign In", new_session_path %>
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 description">
    <div class="food col-xs-3 col-sm-12">
      <span class="ion ion-knife"></span>
      <span class="ion ion-spoon"></span>
      <span class="ion ion-fork"></span>
    </div>

    <div class="col-xs-9 col-sm-12">
      <h2>Solves world hunger</h2>
      <p>Not Reddit exports food and water to those in need, all over the world. No one's starving on our watch.</p>
    </div>
  </div>


  <div class="col-xs-12 col-sm-4 description">
    <div class="money col-xs-3 col-sm-12">
      <span class="ion ion-social-usd"></span>
    </div>

    <div class="col-xs-9 col-sm-12">
      <h2>Eliminates poverty</h2>
      <p>Not Reddit also expends oodles of cash on education for kids. 100% of all earnings from this free site go to charity.</p>
    </div>
  </div>


  <div class="col-xs-12 col-sm-4 description">
    <div class="beauty col-xs-3 col-sm-12">
      <span class="ion ion-woman"></span>
      <span class="ion ion-man"></span>
    </div>

    <div class="col-xs-9 col-sm-12">
      <h2>Makes you better looking</h2>
      <p>Using Not Reddit will make you ridiculously good looking: it's scientifically proven to make men look like Justin Bieber and women like Beyonc&eacute;.</p>
    </div>
  </div>

</div>