<div class="media">
  <div class="media-body">
    <div class="col-xs-2 col-lg-1 voting-controls">
      <%= render partial: 'votes/voting', locals: { post: post } %>
    </div>
    
    <div class="col-xs-10 col-lg-11 posts">
      <%= render partial: 'posts/post_info', locals: { post: post } %>
    </div>
  </div>
</div>


