<div class="media">
  <div class="media-body">
    <div class="col-xs-2 voting-controls">
      <%= render partial: 'votes/voting', locals: { post: post } %>
    </div>
    
    <div class="col-xs-10 col-sm-push-0 posts">
      <%= render partial: 'posts/post_info', locals: { post: post } %>
    </div>
  </div>
</div>


