// .points-summary h3 {
//   margin: 0;
// }


.posts-show {

  .post-info {

    margin-top: 20px;

    .indent-post-body {
      max-width: 100px;
    }

    .post-title {
      color: $title-color;
    }

    .body * {
      margin-top: 0px !important;
    }

    .posts, .body {
      padding-left: 0px !important;
      padding-right: 0px !important;
      // padding-top: 8px;
    } 
  }

  .edit-delete {
    margin-top: 20px;
  }

  .comments-section {
    
    * { 
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .avatar-pic {
      // width-max: fit-content !important;
      padding-right: 0px !important;
      max-width: 60px;
    }
  }

}



