// .points-summary h3 {
//   margin: 0;
// }

// .edit-delete {
//   margin-bottom: 20px;
// }

$title-color: rgb(51,122,196);
$button-color:  rgb(51,122,196);

.posts-show {

  .post-info {

    .voting-controls {
      margin-top: 20px;
    }

    .post-title {
      color: $title-color;
    }
  }

  .comments-section .col{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

}



