// .user-edit-controls {
//   margin-left: 30px;
// }

// .posts {
//   margin-left: 0px;
// }

.indent-left {
  margin-left: 40px !important;
}

.user-edit-controls {
  margin-top: -10px;
  margin-bottom: 20px;
}



