// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $title-color: rgb(51,122,196);
// $button-color:  rgb(51,122,196);

.path-page {
  color: $title-color !important;
}

// ===========================

.topics-show {

  .topic-info {

    .col {
      padding-left: 0px !important;
    }

    // .topic-title {
    //   color: $title-color;
    // }
    
    .new-post-button {
      margin-bottom: 10px !important;
    }

    .user-edit-controls {
      margin-bottom: 20px;
    }

  }

  .topic-main {

    .posts {
      padding-left: 0px !important;
      padding-right: 0px !important;
      // padding-top: 8px;
    } 
  }
}

.topics-index {

  .vertical-bottom > * {
    padding-left: 0px !important
  }

  .new-topic-button {
    margin-bottom: 10px !important;
    // padding-right: 0px !important;

    * {
      // padding-right: 0px !important;
    }
  }
}

