// $title-color: rgb(51,122,196);
// $button-color:  rgb(51,122,196);

.voting-controls {
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 100px;

}

.voting-arrows {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: fit-content !important;

  .glyphicon {
    color: $button-color;
  }

}

.points-up {
  color: green;
}

.points-down {
  color: red;
}

// Fix vertical align of total points
.total-points {
  max-width: 45px !important;
  padding-left: 0px !important;
}

@media (max-width: 480px) {

  .total-points {
    margin-right: 5px !important;

    * { 
      font-size: 14px !important;
    }
  }

  .voting-controls {
    padding-right: 15px !important;
  }

}

// @media (min-width: @screen-sm-min) { }